@media (max-width: 700px){

    .mainmenu{
        flex-direction: column;
        
    }
    
    .mainmenu ul{
        padding-inline-start: 10px;
    }
    .showcase p{
        margin-left: 20px;
        font-size: 2rem;
        line-height: 3rem;
    }

    .logo{
        padding-left: 30px;
    }

    .textarea p {
        margin: 60px 5px 60px 10px;
    }
}