@import "/css/normalize.css";

/*Global variables*/

body {
    font-family:Noto Sans;
    margin-left:50px;
    margin-right: 50px; 
    background: #000;
    color: white;
    font-size: 1.3rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.language select{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #753240;
    color: white;
    border: none;
}

.logo{
    font-family: sacramento;
    font-size: 4rem;
    color: #753240;
    padding-left: 20px;
}
.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid  rgb(39, 36, 36);
}
.mainmenu a,ul{
    text-decoration: none;
    list-style: none;
    color:#753240;
    padding-left: 0px;
    padding: 20px, 60px;
}
.showcase{
    background: url(img/fg.png) no-repeat ;
    background-size: contain;
    margin-right: 0px;
    background-position: center;
    background-position: right 20px bottom 10px;
    height: 400px;
    display: flex;
    border-top: 3px solid #753240;
    border-bottom: 1px solid  rgb(39, 36, 36);
}

.showcase p{
    margin: auto;
    font-size: 4rem;
    line-height: 6rem;
}
.motto{
    color:#3b8ec2;
}
.motto2{
    font-size: 2rem;
}

footer{
    height: 200px;
    
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer li{
    display: block;
    margin-top: 40px;
    margin-left:40px;
}