@import "/css/normalize.css";
@import "/css/responsive.css";

/*Global variables*/

:root{
    --mor:#a05767;
    --hover:#642c38;
    --siyah:#000;
  }

body {
    font-family: Exo;
    font-weight: 400;
    background: rgb(252, 251, 251);
    color: white;
    font-size: 1.3rem;
    margin: 0px;
}

header{
    border-bottom: 1px solid rgb(39, 36, 36);
    width: 100%;
    position:fixed; 
    top:0px; 
    margin-left: 0px;
    height:120px; 
    background:var(--siyah);
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logowrap2{
    display: flex;
    justify-content: space-between;
}
/*.language select{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: var(--mor);
    color: white;
    border: none;
}*/

.logo{
    font-family: exo;
    font-size: 3rem;
    font-weight: 100;
    color: var(--mor);
    padding-left: 50px;
 
}
.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgb(39, 36, 36);
    border-bottom: 1px solid  rgb(39, 36, 36);
    margin:0px 50px; 
}
.mainmenu ul{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainmenu a{
    display: inline-block;
    margin: 15px 15px; 
    text-decoration: none;
    list-style: none;
    color:var(--mor);
}

.logo a{
    text-decoration: none;
    color:var(--mor);
}

.mainmenu a:hover{
    color:var(--hover);  
}
.showcase{
    background: url("../img/fg.png") no-repeat ;
    background-size: contain;
    margin-right: 0px;
    background-position: center;
    background-position: right 0px bottom 0px;
    height: 300px;
    display: flex;
    position: relative;
    margin-top:110px;
}

.showcase p{
    font-family: Nanum Gothic Coding;
    margin: auto auto auto 120px;
    font-size: 2rem;
    line-height: 4rem;
    color: var(--mor);
}
.showcase span{
    color: #0175F4;
    font-size: 1rem;
}
footer{
   height: 200px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


footer li{
    display: inline;
    padding:60px 30px;
}

.footer a{
    margin: 10px;
}

.footer a:hover{
    color:var(--hover);
}

.copy{
    text-align: center;
    background: var(--hover);
    height:40px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.copy p{
    margin: 30px auto;
}
/*Educationist Page_______________________________*/

.textarea{
    background-position: center;
    background-position: right 0px bottom 0px;
    height: 300px;
    display: flex;
    position: relative;
    margin-top:110px;
}


.textarea{
    height: auto;
    position: relative;
}
.textarea p{
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 60px 40px 60px 40px;
    color: var(--mor);
}
.textarea span{
    font-weight: bold;
    color: rgb(7, 7, 7);
    letter-spacing: 0.05rem;
}

.language{
    background: url("../img/fg.png") no-repeat ;
    background-size: contain;
    margin-right: 0px;
    background-position: center;
    background-position: right 0px bottom 0px;
}


@media (max-width: 700px){

    .mainmenu{
        flex-direction: column;
        margin:0px 10px; 
        align-items: center;
    }

    .showcase{
        
        background: url("../img/fg2.png") no-repeat ;
        background-size: contain;
        height:200px;
        margin-right: 0px;
        background-position: center;
        background-position: right 0px bottom 0px;
    }
    
    .showcase p{
        margin-left: 10px;
        display: inline;
        font-size: 1.1rem;
        marker: 12px;
        line-height: 3rem;
    }
    .showcase span{
        color: #0175F4;
        font-size: 0.8rem;
    }
    .logo{
        padding-left: 30px;
    }

    .textarea p {
        margin: 60px 5px 60px 10px;
    }

    footer ul{
        margin:0px 30px;
        padding: 0px;
    }
}