@import "/css/normalize.css";
@import "/css/responsive.css";

/*Global variables*/

:root{
    --mor:#a05767;
    --hover:#753240;
    --siyah:#000;
  }

body {
    font-family:Noto Sans;

    background: #000;
    color: white;
    font-size: 1.3rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--mor);
    width: 100%;
    position:fixed; 
    top:0px; 
    margin-left: 0px;
    height:120px; 
    background:var(--siyah);
    z-index: 1000;
}

.language select{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: var(--mor);
    color: white;
    border: none;
}

.logo{
    font-family: sacramento;
    font-size: 4rem;
    color: var(--mor);
    padding-left: 50px;
 
}
.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid  rgb(39, 36, 36);
    margin-left:50px;
    margin-right: 50px; 
}
.mainmenu a,ul{
    text-decoration: none;
    list-style: none;
    color:var(--mor);
    padding-left: 0px;
    padding: 20px, 60px;
}

.logo a{
    text-decoration: none;
    color:var(--mor);
}

.mainmenu a:hover{
    color:var(--hover);  
}
.showcase{
    background: url("../img/fg.png") no-repeat ;
    background-size: contain;
    margin-right: 0px;
    background-position: center;
    background-position: right 0px bottom 0px;
    height: 300px;
    display: flex;
    position: relative;
    margin-top:110px;
}

.showcase p{
    margin: auto auto 20px 40px;
    font-size: 4rem;
    line-height: 6rem;
    color: var(--mor);
}

footer{
    height: 200px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

footer li{
    display: block;
    margin:60px 30px;
}

.footer a:hover{
    color:var(--hover); 
}

@media (max-width: 700px){

    body {


    }

    .mainmenu{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }
      
    .showcase p{
        margin-left: 20px;
        font-size: 2rem;
        line-height: 3rem;
    }

    .logo{
        padding-left: 30px;
    }
}